<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate a News Article with Natural Language Processing</title>
    </head>

    <body>

        <header>
            <div class="">
                Evaluate a News Article with Natural Language Processing
            </div>
        </header>

        <main>
            <section>
                <form id="myForm"class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Enter URL" autocomplete="off">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong><h1 id="title"></h1>
                    <p id="description"></p>
                    <div id="results"><h2>Results</h2>
                    <p>Polarity: <span id="polarity"></span></p>
                    <p>Agreement: <span id="agreement"></span></p>
                    <p>Subjectivity: <span id="subjectivity"></span></p>
                    <p>Confidence: <span id="confidence"></span></p>
                    <p>Irony: <span id="irony"></span></p>
                  </div>
            </section>
        </main>

        <footer>
            <p>Project by Lily P for Udacity. 2023.</p>
        </footer>
        <script>
            if ('serviceWorker' in navigator) {
              window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js')
                  .then(registration => {
                    console.log('Service Worker registered:', registration);
                  })
                  .catch(error => {
                    console.log('Service Worker registration failed:', error);
                  });
              });
            }
          </script>
        <script type="module" src="../index.js"></script>
    </body>
</html>
