footer {
    display: flex;
    justify-content: center;
    padding: 10px 40px;
    margin-top: 10px;
    font-family: "Gill Sans Extrabold", sans-serif;
    font-size: 10px;
    color: white;
    background-color: rgba(67, 65, 65, 0.4);
}
